# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [2]:
# Import Libraries
import pandas as pd
import numpy as np

# Dataframe Creation
df_gtd = pd.read_csv("gtd_uk_usa.csv")
df_us_elections = [2000, 2004, 2008, 2012, 2016, 2020, 2024]
df_uk_elections = pd.read_csv("uk-gen_elections-voteshare-trunc.csv")

In [6]:
# Reviewing basic dataframe information

df_gtd.info()
df_gtd.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Columns: 110 entries, eventid to related
dtypes: float64(42), int64(21), object(47)
memory usage: 1.7+ MB

(1999, 110)

In [7]:
df_gtd.head(6)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country_txt,region_txt,provstate,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,200001010027,2000,1,1,NaN,0,NaN,United States,North America,Michigan,...,The four perpetrators were also indicted for t...,"""AG Hall Arsonist Sentenced to 21 Years in Pri...","Art Bukowski, ""Activists planned MSU arson plo...","Justice Department Documents and Publications,...",Eco Project 2010,0,1,0,1,NaN
1,200001030007,2000,1,3,NaN,0,NaN,United States,North America,California,...,NaN,"""Animal Liberation Front says they attack Cali...","FBI ""Terrorism in the United States 2000/2001""...",NaN,CETIS,0,1,0,1,NaN
2,200001030008,2000,1,3,NaN,0,NaN,United States,North America,Ohio,...,NaN,"""Abortion Clinics Evacuated After Threats of A...","Patricia Baird-Windle and Eleanor J. Bader, ""T...",NaN,Anti-Abortion Project 2010,-9,-9,0,-9,"200001030008, 200001030009"
3,200001030009,2000,1,3,NaN,0,NaN,United States,North America,Ohio,...,This is part of a multiple attack with 2000010...,"""Abortion Clinics Evacuated After Threats of A...","Patricia Baird-Windle and Eleanor J. Bader, ""T...",NaN,Anti-Abortion Project 2010,-9,-9,0,-9,"200001030008, 200001030009"
4,200001070003,2000,1,7,NaN,0,NaN,United Kingdom,Western Europe,Northern Ireland,...,"Denver Smith, 32, had been murdered at the sam...","“Blast in N. Ireland Town; None Injured,” Pres...",NaN,NaN,CETIS,-9,-9,1,1,NaN
5,200001100001,2000,1,10,NaN,0,NaN,United Kingdom,Western Europe,Northern Ireland,...,NaN,"David Sharrock, “Ulster Terrorist Leader Murde...","Chris Anderson, “Ulster Police Expect Loyalist...","Deric Henderson, “UK: LVF Blamed After Rival L...",CETIS,0,0,1,1,NaN

In [4]:
df_uk_elections.info()
df_uk_elections.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   party_name  90 non-null     object
 1   alignment   90 non-null     object
 2   vote_share  78 non-null     float64
 3   vote_year   90 non-null     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.9+ KB

(90, 4)

In [8]:
df_uk_elections.head(6)

                party_name       alignment  vote_share  vote_year
0                   Labour     centre-left      33.700       2024
1             Conservative    centre-right      23.704       2024
2                Reform UK  right-populism      14.293       2024
3         Liberal Democrat     centre-left      12.215       2024
4              Green Party            left       6.398       2024
5  Scottish National Party     centre-left       2.516       2024

<div class="alert alert-block alert-info">
As I parsed and created the UK elections dataset and cleaned as I went, my focus throughout this checkpoint will be on the GTD dataset.
</div>

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [ ]:
# Identifying that there are columns with null values.
# Sorted by descending and utilizing .pipe() with lambda to filter out any columns with 0 nulls.

df_gtd.isna().sum().pipe(lambda s: s[s > 0]).sort_values(ascending=False)

ransomamtus         1999
kidhijcountry       1999
divert              1999
weapsubtype4_txt    1999
weaptype4_txt       1999
                    ...
nkillter               4
natlty1_txt            3
nkillus                2
target1                1
ishostkid              1
Length: 75, dtype: int64

<div class="alert alert-block alert-info">
Understanding that there are 1999 entries in the dataset, we can see that there are columns that are entirely nulls. For our analysis with these two countries (USA and UK), a null value for ransom amount, kidnapping/hijacking country, diversion [from hijacking/kidnapping], etc. are not particularly interesting or valuable. As such, we can delete these columns.
</div>

In [23]:
# Using the same logic to identify those columns that are entirely null values:

df_gtd.isna().sum().pipe(lambda s: s[s == 1999]).sort_values(ascending=False)

gname3              1999
gsubname3           1999
guncertain3         1999
claim3              1999
claimmode3          1999
claimmode3_txt      1999
weaptype4_txt       1999
weapsubtype4_txt    1999
divert              1999
kidhijcountry       1999
ransomamt           1999
ransomamtus         1999
ransompaid          1999
ransompaidus        1999
dtype: int64

<div class="alert alert-block alert-info">
The columns listed above are comprised entirely of null values. This shows that among the incidents in the United States and United Kingdom between 2000 and 2020, there were none that had a third group identified, if that third group name is uncertain or not, a third group claiming responsibility (and/or how), a fourth weapon type used, etc. Following the comment above, we can delete these columns, as well. 
</div>

In [25]:
# Creating a list of columns to drop for ease:

cols_to_drop = [
    "gname3",
    "gsubname3",
    "guncertain3",
    "claim3",
    "claimmode3",
    "claimmode3_txt",
    "weaptype4_txt",
    "weapsubtype4_txt",
    "kidhijcountry",
    "divert",
    "ransomamt",
    "ransomamtus",
    "ransompaid",
    "ransompaidus"
]

# Dropping the columns
df_gtd = df_gtd.drop(columns=cols_to_drop)

In [26]:
# Confirming dropped columns:

df_gtd.isna().sum().pipe(lambda s: s[s == 1999]).sort_values(ascending=False)

Series([], dtype: int64)

In [27]:
# Identifying that there are columns with null values again.
# Sorted by descending and utilizing .pipe() with lambda to filter out any columns with 0 nulls.

df_gtd.isna().sum().pipe(lambda s: s[s > 0]).sort_values(ascending=False)

attacktype3        1998
attacktype3_txt    1998
ndays              1997
claimmode2_txt     1994
claimmode2         1994
                   ...
nwound                4
natlty1_txt           3
nkillus               2
target1               1
ishostkid             1
Length: 61, dtype: int64

In [11]:
df_gtd.isna().sum()

eventid          0
iyear            0
imonth           0
iday             0
approxdate    1955
              ...
INT_LOG          0
INT_IDEO         0
INT_MISC         0
INT_ANY          0
related       1650
Length: 110, dtype: int64

<div class="alert alert-block alert-info">
From EDA performed in checkpoint 2, we also know that approxdate and related have null values. However, it is important to understand why 'approxdate' is null and why those entries with null values for it cannot be removed. The 'approxdate' column is used when there is only an approximate and not exact date of the incident, such that if an exact date is known, the approximate date value will be null. This suggests that of the 1999 entries, 44 of them only have an approximate date for the incident. While these could be removed, our analysis is utilizing incident year rather than specific dates. As such, there is no harm in keeping those entries. Alternatively, we could drop the column entirely as those entries with approximate dates do have values in the appropriate fields ('iyear', 'imonth') for that approximation.
</div>

In [ ]:
# Dropping the column 'approxdate':

df_gtd = df_gtd.drop(columns=["approxdate"])

In [29]:
# Sanity check:
"approxdate" in df_gtd

False

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [ ]:
# Overview of the dataset using .describe()

df_gtd.describe()

,eventid,iyear,imonth,iday,extended,specificity,vicinity,crit1,crit2,crit3,...,nhostkidus,nhours,ndays,ransom,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.999000e+03,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,...,34.000000,33.000000,2.000000,115.000000,34.000000,34.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,2.012568e+11,2012.502751,6.350175,15.136568,0.004002,1.013507,0.036018,0.960480,0.993997,0.996998,...,-1.352941,-56.121212,-49.500000,-0.156522,3.235294,-4.735294,-6.784892,-6.717359,0.592296,-2.397699
std,6.353815e+08,6.351867,3.287590,8.787154,0.063150,0.168363,0.186382,0.194877,0.077265,0.054717,...,36.628257,50.736918,70.003571,1.181668,1.670761,48.779224,3.877730,4.002083,0.535395,4.722257
min,2.000010e+11,2000.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,-99.000000,-99.000000,-99.000000,-9.000000,2.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,2.008082e+11,2008.000000,4.000000,8.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,-99.000000,-74.250000,0.000000,2.000000,0.250000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.015011e+11,2015.000000,6.000000,15.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,-99.000000,-49.500000,0.000000,2.000000,1.000000,-9.000000,-9.000000,1.000000,1.000000
75%,2.018013e+11,2018.000000,9.000000,23.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,-24.750000,0.000000,4.000000,1.000000,-9.000000,-9.000000,1.000000,1.000000
max,2.020123e+11,2020.000000,12.000000,31.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,...,86.000000,5.000000,0.000000,0.000000,7.000000,200.000000,0.000000,1.000000,1.000000,1.000000

<div class="alert alert-block alert-info">
The above is not particularly helpful due to the number of columns, as well as the majority of the numerical values corresponding to a text value (see codebook) or a yes/no flag. Let's narrow down to a handful columns that do have possible quantitative significance. Numerical variable columns may also be identified by searching for 'Numerical Variable' within the codebook.
</div>

In [37]:
df_gtd[["nperps","nperpcap","nkill","nkillus","nkillter","nwound","nwoundus","nwoundte"]].describe()

,nperps,nperpcap,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte
count,1790.000000,1972.000000,1999.000000,1997.000000,1995.000000,1995.000000,1987.000000,1992.000000
mean,-61.523464,-2.736308,1.780890,1.652479,0.039098,12.571429,0.385506,0.017570
std,48.649305,17.219225,44.056259,42.759750,0.284108,345.003475,3.990971,0.174152
min,-99.000000,-99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15.000000,11.000000,1385.000000,1361.000000,5.000000,10878.000000,151.000000,4.000000

<div class="alert alert-block alert-info">
There are outliers in this dataset when it comes to the number killed or wounded, particularly when taking into account mass casualty incidents, such as September 11, 2001. However, removing this outliers would remove important data points and a broader picture of incidents of terrorism over time. As such, they will not be removed.
</div>

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

<div class="alert alert-block alert-info">
As noted in Checkpoint 2:
<div class="alert alert-block alert-success">
<i>Prior to this EDA, I pre-emptively removed columns from the original dataset in order to reduce the size of the .csv. This included limiting the timeframe from 2000 to 2020, excluding the 
data from 1970 to 1999. This early cleaning also included removing the columns with numerical values that also had corresponding text values (e.g. 'country'; 'country_txt') or those with 
interesting qualitative information but not useful in a quantitative analysis without further coding (e.g. 'summary'). Some of these fields were left to add additional context for future 
reviewers (e.g. source citations). Other fields, also with potentially valuable information but outside the scope of this project, were also removed, such as latitude/longitude.</i>>
</div>
<br>
As such, much of the unnecessary data has already been removed from the dataset before beginning EDA and further with Checkpoint 3.
</div>

In [ ]:
# Reviewing the current dataframe:

df_gtd.head(6)

,eventid,iyear,imonth,iday,extended,resolution,country_txt,region_txt,provstate,city,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,200001010027,2000,1,1,0,NaN,United States,North America,Michigan,Mesick,...,The four perpetrators were also indicted for t...,"""AG Hall Arsonist Sentenced to 21 Years in Pri...","Art Bukowski, ""Activists planned MSU arson plo...","Justice Department Documents and Publications,...",Eco Project 2010,0,1,0,1,NaN
1,200001030007,2000,1,3,0,NaN,United States,North America,California,Petaluma,...,NaN,"""Animal Liberation Front says they attack Cali...","FBI ""Terrorism in the United States 2000/2001""...",NaN,CETIS,0,1,0,1,NaN
2,200001030008,2000,1,3,0,NaN,United States,North America,Ohio,Cincinnati,...,NaN,"""Abortion Clinics Evacuated After Threats of A...","Patricia Baird-Windle and Eleanor J. Bader, ""T...",NaN,Anti-Abortion Project 2010,-9,-9,0,-9,"200001030008, 200001030009"
3,200001030009,2000,1,3,0,NaN,United States,North America,Ohio,Cincinnati,...,This is part of a multiple attack with 2000010...,"""Abortion Clinics Evacuated After Threats of A...","Patricia Baird-Windle and Eleanor J. Bader, ""T...",NaN,Anti-Abortion Project 2010,-9,-9,0,-9,"200001030008, 200001030009"
4,200001070003,2000,1,7,0,NaN,United Kingdom,Western Europe,Northern Ireland,Antrim,...,"Denver Smith, 32, had been murdered at the sam...","“Blast in N. Ireland Town; None Injured,” Pres...",NaN,NaN,CETIS,-9,-9,1,1,NaN
5,200001100001,2000,1,10,0,NaN,United Kingdom,Western Europe,Northern Ireland,Portadown,...,NaN,"David Sharrock, “Ulster Terrorist Leader Murde...","Chris Anderson, “Ulster Police Expect Loyalist...","Deric Henderson, “UK: LVF Blamed After Rival L...",CETIS,0,0,1,1,NaN

In [40]:
# Because we are limited to the United States and United Kingdom with country_txt, the region_txt does not add any value. This can be dropped.
# Dropping 'region_txt' column:

df_gtd = df_gtd.drop(columns=["region_txt"])

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [41]:
df_gtd.head(51)

,eventid,iyear,imonth,iday,extended,resolution,country_txt,provstate,city,specificity,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,200001010027,2000,1,1,0,NaN,United States,Michigan,Mesick,1.0,...,The four perpetrators were also indicted for t...,"""AG Hall Arsonist Sentenced to 21 Years in Pri...","Art Bukowski, ""Activists planned MSU arson plo...","Justice Department Documents and Publications,...",Eco Project 2010,0,1,0,1,NaN
1,200001030007,2000,1,3,0,NaN,United States,California,Petaluma,1.0,...,NaN,"""Animal Liberation Front says they attack Cali...","FBI ""Terrorism in the United States 2000/2001""...",NaN,CETIS,0,1,0,1,NaN
2,200001030008,2000,1,3,0,NaN,United States,Ohio,Cincinnati,1.0,...,NaN,"""Abortion Clinics Evacuated After Threats of A...","Patricia Baird-Windle and Eleanor J. Bader, ""T...",NaN,Anti-Abortion Project 2010,-9,-9,0,-9,"200001030008, 200001030009"
3,200001030009,2000,1,3,0,NaN,United States,Ohio,Cincinnati,1.0,...,This is part of a multiple attack with 2000010...,"""Abortion Clinics Evacuated After Threats of A...","Patricia Baird-Windle and Eleanor J. Bader, ""T...",NaN,Anti-Abortion Project 2010,-9,-9,0,-9,"200001030008, 200001030009"
4,200001070003,2000,1,7,0,NaN,United Kingdom,Northern Ireland,Antrim,1.0,...,"Denver Smith, 32, had been murdered at the sam...","“Blast in N. Ireland Town; None Injured,” Pres...",NaN,NaN,CETIS,-9,-9,1,1,NaN
5,200001100001,2000,1,10,0,NaN,United Kingdom,Northern Ireland,Portadown,1.0,...,NaN,"David Sharrock, “Ulster Terrorist Leader Murde...","Chris Anderson, “Ulster Police Expect Loyalist...","Deric Henderson, “UK: LVF Blamed After Rival L...",CETIS,0,0,1,1,NaN
6,200001150004,2000,1,15,0,NaN,United States,California,Petaluma,1.0,...,NaN,"FBI, ""Terrorism 2000/2001,""FBI, DOJ, 2001.","Suzanne Bohan, ""Some cage-free egg producers f...","Debra J. Saunders, ""Save the Chickens,"" San Fr...",Eco Project 2010,0,1,0,1,NaN
7,200001200002,2000,1,20,0,NaN,United States,Indiana,Bloomington,1.0,...,Homeowners and the Indiana Crime and Arson ass...,"Associated Press. ""Bloomington house fire rewa...","Associated Press ""Local ELF group feels backla...",NaN,CETIS,0,1,0,1,NaN
8,200001240007,2000,1,24,0,NaN,United States,California,Redwood City,1.0,...,NaN,"James W. Sweeney, ""Rights Group Takes Credit f...","""Animal Liberation Front Says They Attacked Ca...","Pamela J. Podger, ""Animal-Rights Cell Says It ...",Eco Project 2010,0,1,0,1,NaN
9,200002060001,2000,2,6,0,NaN,United Kingdom,Northern Ireland,Irvinestown,1.0,...,NaN,"“Bomb Explodes at Northern Ireland Hotel,” Lon...","“IRA Dissidents Suspected in Bombing,” Associa...","Ian Graham, “Ulster Peace in Crisis After Hote...",CETIS,0,0,1,1,NaN
10,200002250001,2000,2,25,0,NaN,United Kingdom,Northern Ireland,Ballykelly,1.0,...,The Continuity IRA (CIRA) claimed responsibili...,“IRA Rebels Target British Troops On UK Mainla...,"“Two Held Over Blast at Ulster Barracks,” Pres...",“Ulster: Device Explodes At Army Barracks; No ...,CETIS,0,0,1,1,NaN
11,200002250004,2000,2,25,0,NaN,United Kingdom,Northern Ireland,Portadown,1.0,...,NaN,"“Appeal for Calm After Portadown Shooting,” Pr...",“UK: Man Shot in Portadown Loyalist Housing Es...,NaN,CETIS,-9,-9,1,1,NaN
12,200002250007,2000,2,25,0,NaN,United States,California,Fremont,1.0,...,NaN,"James W. Sweeney, ""Animal Activists Blamed in ...","Pamela J. Podger, ""Animal-Rights Cell Says It ...","Christopher Hewitt, ""Political Violence and Te...",Eco Project 2010,0,1,0,1,NaN
13,200003010004,2000,3,1,0,NaN,United States,Pennsylvania,Wilkinsburg,1.0,...,Although there is evidence that this series of...,"Michael A. Fuoco, ""Residents remember the dead...","Todd Spangler, ""Pa. gunman kills 2, surrenders...","Todd Spangler, ""Western PA man charged with ha...",UMD Miscellaneous,-9,-9,0,-9,"200003010004, 200003010005, 200003010006, 2000..."
14,200003010005,2000,3,1,0,NaN,United States,Pennsylvania,Wilkinsburg,1.0,...,NaN,"Michael A. Fuoco, ""Residents remember the dead...","Todd Spangler, ""Pa. gunman kills 2, surrenders...","Todd Spangler, ""Western PA man charged with ha...",UMD Miscellaneous,-9,-9,0,-9,"200003010004, 200003010005, 200003010006, 2000..."
15,200003010006,2000,3,1,0,NaN,United States,Pennsylvania,Wilkinsburg,1.0,...,NaN,"Michael A. Fuoco, ""Residents remember the dead...","Todd Spangler, ""Pa. gunman kills 2, surrenders...","Todd Spangler, ""Western PA man charged with ha...",UMD Miscellaneous,-9,-9,0,-9,"200003010004, 200003010005, 200003010006, 2000..."
16,200003010007,2000,3,1,0,NaN,United States,Pennsylvania,Wilkinsburg,1.0,...,NaN,"Michael A. Fuoco, ""Residents remember the dead...","Todd Spangler, ""Pa. gunman kills 2, surrenders...","Todd Spangler, ""Western PA man charged with ha...",UMD Miscellaneous,-9,-9,0,-9,"200003010004, 200003010005, 200003010006, 2000..."
17,200003120004,2000,3,12,0,NaN,United States,Wisconsin,Viroqua,1.0,...,NaN,"Doug Cunningham, ""Animal Liberation Front atte...",“Animal Liberation Front Attacks Mink Business...,NaN,CETIS,0,1,0,1,NaN
18,200003220005,2000,3,22,0,NaN,United States,Utah,Ogden,1.0,...,NaN,"Matthew Ott, “IRS Receiving Room Quarantined A...","“3 at IRS Get Rash From Toxic Mailing,” The De...","“Mysterious Powder Found in IRS Return,” The A...",CETIS,-9,-9,0,-9,NaN
19,200003250005,2000,3,25,0,NaN,United States,Arizona,Chandler,1.0,...,The incident occurred at about 6:15 a.m.,"""Man hurt after package bomb explodes in home,...","Christopher Hewitt, ""Political Violence and Te...",NaN,Eco Project 2010,-9,-9,0,-9,NaN
20,200004030006,2000,4,3,0,NaN,United States,Missouri,Kansas City,1.0,...,NaN,"“Metropolitan Digest,” The Kansas City Star, A...","“Across the USA News from Every State,” USA To...",NaN,CETIS,-9,-9,0,-9,NaN
21,200004060001,2000,4,6,0,NaN,United Kingdom,Northern Ireland,Londonderry,1.0,...,NaN,"“Blast Damages Northern Ireland army camp,” Un...","Hayes, Dominic, “Security Review After Bomb At...","Cowan, Rosie,“Bomb Brings Warning of Dissident...",CETIS,0,0,1,1,NaN
22,200004090003,2000,4,9,0,NaN,United States,Arizona,Phoenix,1.0,...,Sands claimed the home was obstructing his jog...,"FBI, ""Terrorism 2000/2001,""FBI, DOJ, 2001.","Foster Klug, ""Arsonist who tried to stop const...","""List of Fires in Federal Indictment,"" Associa...",Eco Project 2010,0,0,0,0,NaN
23,200004130001,2000,4,13,0,NaN,United Kingdom,Northern Ireland,Rosslea,1.0,...,NaN,"Henderson, Deric, “Real Irish Republican Army ...","Graham, Ian, “Dissidents Behind Failed Mortar ...",NaN,CETIS,0,0,1,1,NaN
24,200004140004,2000,4,14,0,NaN,United States,Florida,Oakland Park,1.0,...,Damages to the facility were estimated to be b...,"""Broward Abortion Clinic Set On Fire, Vandaliz...","Leon Fooksman and Peter Franceschina, ""Abortio...","Clinic Security Department, ""2000 Chronicle of...",Anti-Abortion Project 2010,-9,-9,0,-9,NaN
25,200004280003,2000,4,28,0,NaN,United States,Pennsylvania,Pittsburgh,1.0,...,NaN,"""Cold killer's 20-mile trail leaves 5 dead,"" P...","Dennis B. Roddy, ""What force drove Baumhammers...","Dennis B. Roddy, ""Interviews show troubled min...",UMD Miscellaneous,-9,-9,0,-9,"200004280003, 200004280004, 200004280005, 2000..."
26,200004280004,2000,4,28,0,NaN,United States,Pennsylvania,Pittsburgh,1.0,...,NaN,"""Cold killer's 20-mile trail leaves 5 dead,"" P...","Dennis B. Roddy, ""What force drove Baumhammers...","Dennis B. Roddy, ""Interviews show troubled min...",UMD Miscellaneous,-9,-9,0,-9,"200004280003, 200004280004, 200004280005, 2000..."
27,200004280005,2000,4,28,0,NaN,United States,Pennsylvania,Pittsburgh,1.0,...,NaN,"""Cold killer's 20-mile trail leaves 5 dead,"" P...","Dennis B. Roddy, ""What force drove Baumhammers...","Dennis B. Roddy, ""Interviews show troubled min...",UMD Miscellaneous,-9,-9,0,-9,"200004280003, 200004280004, 200004280005, 2000..."
28,200004280006,2000,4,28,0,NaN,United States,Pennsylvania,Pittsburgh,1.0,...,NaN,"""Cold killer's 20-mile trail leaves 5 dead,"" P...","Dennis B. Roddy, ""What force drove Baumhammers...","Dennis B. Roddy, ""Interviews show troubled min...",UMD Miscellaneous,-9,-9,0,-9,"200004280003, 200004280004, 200004280005, 2000..."
29,200004280007,2000,4,28,0,NaN,United States,Pennsylvania,Pittsburgh,1.0,...,NaN,"""Cold killer's 20-mile trail leaves 5 dead,"" P...","Dennis B. Roddy, ""What force drove Baumhammers...","Dennis B. Roddy, ""Interviews show troubled min...",UMD Miscellaneous,-9,-9,0,-9,"200004280003, 200004280004, 200004280005, 2000..."
30,200004280008,2000,4,28,0,NaN,United States,Pennsylvania,Monaca,1.0,...,NaN,"""Cold killer's 20-mile trail leaves 5 dead,"" P...","Dennis B. Roddy, ""What force drove Baumhammers...","Dennis B. Roddy, ""Interviews show troubled min...",UMD Miscellaneous,-9,-9,0,-9,"200004280003, 200004280004, 200004280005, 2000..."
31,200005020004,2000,5,2,0,NaN,United Kingdom,Northern Ireland,Dungannon,1.0,...,NaN,"Suzanne Breen,""IRA Believed to Have Brutally B...","John Mullin, “Paramilitary Cold War Hots Up,"" ...",NaN,CETIS,0,0,1,1,NaN
32,200005070004,2000,5,7,0,NaN,United States,Washington,Olympia,1.0,...,NaN,"FBI ""Terrorism in the United States 2000/2001""...","Paul Shukovsky, ""Animal-rights activist arrest...",NaN,CETIS,0,1,0,1,NaN
33,200005210002,2000,5,21,0,NaN,United Kingdom,England,Witney,1.0,...,NaN,"Paul Kelso, ""Animal Activists Suspected of Bla...","Daniel McGrory, ""Police thwart firebomb attack...",NaN,CETIS,0,1,1,1,NaN
34,200005270008,2000,5,27,0,NaN,United States,New Hampshire,Concord,1.0,...,The fire was ignited at 10:00 PM. Fifteen min...,"""N.H. Abortion Clinic Fire May Have Been An Ar...","""N.H. Clinic Reopens After Suspicious Weekend ...","""Chronological History of Arsons and Bombings ...",Anti-Abortion Project 2010,-9,-9,0,-9,NaN
35,200005270009,2000,5,27,0,NaN,United States,Oregon,Eugene,1.0,...,The perpetrators were also responsible and sen...,"Rebecca Taylor, ""Activist's arson sentence red...","""Grand jury indicts two anarchists on arson ch...","Allison Tallmadge, ""Activist found guilty of A...",Eco Project 2010,-9,-9,0,-9,NaN
36,200006060003,2000,6,6,0,NaN,United Kingdom,Northern Ireland,Belfast,1.0,...,The three vehicles all had Republic number pla...,"""Terrorist firebomb hols hell"", The Sun, June ...",NaN,NaN,CETIS,-9,-9,1,1,NaN
37,200006070004,2000,6,7,0,NaN,United Kingdom,Northern Ireland,Annalong,1.0,...,NaN,"""Two Escape Injury in Northern Ireland Pipe-Bo...",NaN,NaN,CETIS,-9,-9,1,1,NaN
38,200006160006,2000,6,16,0,NaN,United States,Oregon,Eugene,1.0,...,The perpetrators were also responsible and sen...,"Allison Tallmadge, ""Activist found guilty of A...","Allison Tallmadge, ""Opening Arguments begin in...","""Two suspects plead not guilty to arson, bomb ...",Eco Project 2010,-9,-9,0,-9,NaN
39,200006170004,2000,6,17,0,NaN,United Kingdom,Northern Ireland,Londonderry,1.0,...,Helen Wray believed that fellow Protestants we...,"“Protestants Blamed for Gun Attack,” Century N...",NaN,NaN,CETIS,-9,-9,1,1,NaN
40,200006190003,2000,6,19,0,NaN,United Kingdom,Northern Ireland,Hillsborough,1.0,...,NaN,"Nicholas Watt and Maggie O'Kane, ""Loyalists wa...","Maggie O'Kane and Nicholas Watt, ""Belfast blas...","""Explosive device found near British minister'...",UMD Schmid 2012,0,1,1,1,NaN
41,200006210001,2000,6,21,0,NaN,United Kingdom,Northern Ireland,Belfast,1.0,...,NaN,“Arrest made after Belfast blast hurts Catholi...,NaN,NaN,CETIS,0,0,1,1,NaN
42,200006210002,2000,6,21,0,NaN,United Kingdom,Northern Ireland,Londonderry,1.0,...,NaN,“Arrest made after Belfast blast hurts Catholi...,NaN,NaN,CETIS,-9,-9,1,1,NaN
43,200006300001,2000,6,30,0,NaN,United Kingdom,Northern Ireland,Belfast,1.0,...,NaN,"“Belfast: Lone IRA Gunman Routs Loyalist Gang,...",NaN,NaN,CETIS,0,0,1,1,NaN
44,200006300004,2000,6,30,0,NaN,United Kingdom,Northern Ireland,Newry,1.0,...,NaN,"Edward F. Mickolus, Terrorism, 1996-2001 : A C...",NaN,NaN,CETIS,-9,-9,1,1,NaN
45,200007000001,2000,7,0,0,NaN,United Kingdom,Northern Ireland,Ballymena,3.0,...,NaN,"""Mayor blasts wave of fire attacks,"" Belfast N...","Monika Unsworth, ""Arson attack on Ballymena sc...","""Anti-Catholic protests rekindled in Ballymena...",UMD Schmid 2012,-9,-9,1,1,"200007000001, 200007170005, 200007190006"
46,200007020009,2000,7,2,0,NaN,United States,Indiana,North Vernon,1.0,...,Incident occurred just before 11:30 p.m. There...,"FBI, ""Terrorism 2000/2001,""FBI, DOJ, 2001.","""Animal-rights group suspected in fire at chic...",NaN,Eco Project 2010,0,1,0,1,NaN
47,200007050003,2000,7,5,0,NaN,United Kingdom,Northern Ireland,Drumcree,1.0,...,NaN,"""Police Attacked with Acid and Stone,"" The Roy...","Jamie Macaskill, ""Streets of Fear as Ulster Fa...",NaN,CETIS,-9,-9,1,1,NaN
48,200007090001,2000,7,9,0,NaN,United Kingdom,Northern Ireland,Stewartstown,1.0,...,NaN,"""Car bomb explodes outside N Ireland police st...","Shawn Pogatchnik, “Car bomb blasts police stat...",NaN,CETIS,0,0,1,1,NaN
49,200007150005,2000,7,15,0,NaN,United Kingdom,Northern Ireland,Castlewellan,1.0,...,The Loyalist Volunteer Force (LVF) had earlier...,"Neil Mackay, “Loyalists paramilitaries planted...","“CAR BOMB INJURES MAN IN NORTHERN IRELAND,” Ha...",“Car-bomb blast injures Catholic man near Belf...,CETIS,-9,-9,1,1,NaN
50,200007170005,2000,7,17,0,NaN,United Kingdom,Northern Ireland,Ballymena,1.0,...,NaN,"""Mayor blasts wave of fire attacks,"" Belfast N...","Monika Unsworth, ""Arson attack on Ballymena sc...","""Anti-Catholic protests rekindled in Ballymena...",UMD Schmid 2012,-9,-9,1,1,"200007000001, 200007170005, 200007190006"

<div class="alert alert-block alert-info">
Given that this is an academic dataset maintained by a research university with documented criteria for how incidents are included, the data appears consistent and there are no concerns at this time for inconsistencies.
</div>

### Finalizing Dataset(s)

In [42]:
# Converting to .csv for continued use:

df_gtd.to_csv("gtd_uk_usa_v2.csv", index=False)

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?

<div class="alert alert-block alert-info">
I did not necessarily find all four types of "dirty" data within the dataset. Much of the cleaning conducted during Checkpoint 3 related to removing superfluous or unnecessary data as it pertains to the analysis I intend to conduct. Null values were not inherently missing data but more often fields not applicable to an incident. Further, outliers are not inherently problematic when understanding this type of data as the outliers in and of themselves are important to note, recognize, and even research more; this is to say, outliers in this dataset are not problematic entries to be removed but interesting data points.
</div>

2. Did the process of cleaning your data give you new insights into your dataset?

<div class="alert alert-block alert-info">
This process assisted in further reducing the size of my dataset and removing unneccessary fields. It also led me to reference the codebook for the dataset once more and better look at the numerical variables, such that I have additional ideas of relationships to explore and visualize.
</div>

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

<div class="alert alert-block alert-info">
It may be interesting to identify the more impactful and "known" terrorism incidents and demarcate them on my visualizations. This could also add further context to spikes in activity and/or those killed/injured.
</div>